.background-img {
  background-image: url(https://images.unsplash.com/photo-1522778119026-d647f0596c20?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 1px 1;
}

.glass-panel {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: rgba(6, 189, 180, 0.616);
  backdrop-filter: blur(8px);
  border: 3px solid rgb(0, 0, 0);
  border-style: hidden;
}

.score-glass {
  box-sizing: border-box;

  position: absolute;
  width: 1017px;
  height: 559px;
  left: 150px;
  top: 170px;

  background: rgba(6, 189, 180, 0.616);
  box-shadow: 0px 4px 4px rgba(175, 192, 255, 0.2);
  margin-top: 90px;
}

.button-one {
  max-width: 6rem;
}